.cat{
  color: white;
  font-family: sans-serif;
  transition: box-shadow .15s,transform .15s;
}
.icon{transform: translateY(7px);}
.button {
  background-image: url("button.png"); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-size: 100%;
  font-family: sans-serif;
  padding-bottom: 3px;
  padding-top: 3px;
}
.button1 {
  background-image: url("button.png"); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-size: 100%;
  font-family: sans-serif;
  padding: 3px 5px;
}
.button2 {
  background-image: url("button.png"); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-size: 100%;
  font-family: sans-serif;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 12px;
  padding-right: 12px;
}
.text {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-size: 100%;
  font-family: sans-serif;
}
.h1s{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}
.text2 {
  color: white;
  font-size: 16px;
  background-size: 100%;
  font-family: sans-serif;
  transform: translateY(-7px);
}
.text3 {
  border: none;
  color: #444444;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  background-size: 100%;
  font-family: sans-serif;
}
body{
  background-color: #0c0c0c;
}
.cat:hover {transform: translateY(-2px);
  transform: scale(1.06);
}
.parameters{
  height: 40px;
  width: 85%;
  border-radius: 15px;
  display: flex;
}
.paramname{
  height: 100%;
  width: 35%;
  padding-left: 16px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-image: radial-gradient(50% 500% at 100% 0, #00cdff 0, #00ffc4 100%);
  display: flex;
  align-items: center;

}
.paramtext{
  background-color: #303030;
  height: 100%;
  width: 75%;
  padding-left: 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
}
.imagetop{
    transition: box-shadow .15s,transform .15s, height .15s;
    width: 93%;
}
.cat1{
    transition: box-shadow .15s,transform .15s, height .15s;
    color: white;
    font-family: sans-serif;
}
.mainfont{
    font-family: Doni;
    color: white
}
.mainfont2{
    font-family: Segoe UI Symbol;
    color: white
}
.cat1:hover{
  transform: scale(1.1);
}
.imagetop:hover{
  transform: scale(1.06);
}
.window{
  border-radius: 15px;
  /*Россия топ!*/
  width: 75%;
  height: 450px;
  display: flex;
}
.img{
  border-radius: 15px;
}
.windowc{
  transition: box-shadow .15s,transform .15s, height .15s;
  background-color: #161616;
  border-radius: 15px;
  /*Россия топ!*/
  width: 24%;
  height: 450px;
  margin-left: 11px;
  margin-right: 11px;
}
.windowc:hover{
  transform: scale(1.1);
}
.flex{
  display: flex;
  width: 100%;
  justify-content: center;
}
.flex1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.flexc{
  margin-left: 11px;
  margin-right: 11px;
}
.payment_window{
  width: 50%;
  height: auto;
  background-color: #161616;
  border-radius: 15px;
}
.line{
  width: 100%;
  height: 5px;
  background-image: radial-gradient(50% 500% at 100% 0, #00d0ff 0, #0078cd 100%);
}
@font-face {
font-family: "Doni";
src: url("font.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}
